.switch-tab {
    position: absolute;
    top: -35px;
    left: 0%;
    display: flex;
    flex-direction: row;
    height: 37px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    gap: 0;

    @media screen and (max-width:430px) {
        gap: 4px;
    }
}

.switch-tab li {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.switch-tab li button {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: .8rem;
    background-color: transparent;
    color: var(--neutral);
    padding: 4px 8px;
    translate: 0 6px 0;
    transition: all .5s;
    height: 37px;
    z-index: 0;

    strong {
        @media screen and (max-width:775px) {
            display: none;
        }
    }

    &::before {
        content: attr(data-switch)" ";
        font-weight: bold;
        display: none;



        @media screen and (max-width:775px) {
            display: inline-block;
            max-width: auto;
            font-size: .7rem;
        }

        @media screen and (max-width:430px) {
            font-size: .7rem;
        }

    }
}

.switch-tab li>.linkActive {
    color: var(--primary-700);
    z-index: 0;
    background-color: var(--neutral);
    filter: contrast(100%);
    translate: 0;
    box-shadow: 0 1px 6px var(--neutral);
}

.switch-tab li button:hover {
    color: var(--primary-700);
    background-color: var(--neutral);
    filter: opacity(.8);
    translate: 0 4px -2px;
}